<footer class="footer-Section padding">
    <div class="footer-Container">
        <div class="footer-Logo-Container">
            <div>
                <img class="header-Logo" src="img/logo.png">
            </div>
            <div class="socialMediaLinks">
                <div>
                    <a href="#"><img class="socialMediaLinksSize" src="img/fb.png"></a>
                </div>
                <div>
                    <a href="#"><img class="socialMediaLinksSize" src="img/ins.png"></a>
                </div>
                <div>
                    <a href="#"><img class="socialMediaLinksSize" src="img/tripad.png"></a>
                </div>
            </div>
            <p>© 2022 Kochwelt </p>
        </div>
        <div class="footer-Menus">               
                <p><a href="index.html">Startseite</a></p>
                <p><a href="kontakt.html">Kontakt</a></p>
                <p><a href="impressum.html">Impressum</a></p>
                <p><a href="datenschutz.html">Datenschutz</a></p>               
        </div>
    </div>
</footer>   