<header class="header padding"> 
    <div class="header-div">
        <a href="index.html"></a>
            <img src="img/logo.png" alt="">
    </div>
    <div class="navbar"> 
        <a href="index.html">Start</a>
        <a href="rezept.html">Rezept des Tages</a>
        <a href="kontakt.html">Kontakt</a>
        <a href="impressum.html">Impressum</a>
    </div>
    <div id="menubar" class="responsive-menu d-none">
        <p style="cursor: pointer;" onclick="closeMenuBar()">X</p>
        <a href="index.html">Start</a>
        <a href="rezept.html">Rezept des Tages</a>
        <a href="kontakt.html">Kontakt</a>
        <a href="impressum.html">Impressum</a>
    </div>
    <div class="navbar-responsive d-none">
        <img src="img/menu.png" alt="" srcset="" onclick="openMenuBar()">
    </div>   
</header>